<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2015-07-03-photography-foundation.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300499</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-27-mid-autumn.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301501</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-02-setup-grails-dev-environment.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301399</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-12-generic-array-error.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301399</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-13-guava-ratelimter.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301399</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-14-cmd-of-linux.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301298</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-14-no-toolkit-found-error.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301298</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-22-Graphics-Device-initialization-failed-exception.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301298</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-12-linux-shell.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301203</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-16-oom-error-java.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301203</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-21-remote-log.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301203</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-23-punctuation-del-java.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301101</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-13-translate-the-next-episode.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-08-common-regex.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41301</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-25-git-log-cmd.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300899</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-27-scala-problem.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300899</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-28-mysql-lock.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300899</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-29-sql-query-optimize.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300797</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-30-cmd-java-jps.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300797</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-30-mysql-partition.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300702</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-31-mysql-master-slave.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300702</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-02-spider-and-antispider.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300601</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-05-rabit-carry-carrot.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447806.41300499</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-23-read-biocentrism.md</key>
			<dict>
				<key>lastModification</key>
				<real>506695317.73739302</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2017-01-10-get-own-vpn.md</key>
			<dict>
				<key>lastModification</key>
				<real>506447918.57678097</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2017-02-16-neglect-function-of-weixin.md</key>
			<dict>
				<key>lastModification</key>
				<real>508949686.23925799</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>2017-02-22-analyze-of-unionlotto-redballs.md</key>
			<dict>
				<key>lastModification</key>
				<real>509471396.27373201</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>2017-03-22-analyse-of-ucnews.md</key>
			<dict>
				<key>lastModification</key>
				<real>511889507.35798502</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>2017-04-16-get-own-domain-email.md</key>
			<dict>
				<key>lastModification</key>
				<real>514039309.69670802</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2017-04-17-god-bless-my-code.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522264886.10717797</real>
				<key>lastModification</key>
				<real>522264886.10717797</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>@- 2017-07-21-blood-drive.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>522265585.440786</real>
				<key>lastModification</key>
				<real>522265585.440786</real>
				<key>version</key>
				<dict>
					<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
					<integer>62</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>506447771.50900698</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>@- 2017-07-21-blood-drive.md</string>
		</array>
		<array>
			<string>2017-04-17-god-bless-my-code.md</string>
		</array>
		<array>
			<string>2017-04-16-get-own-domain-email.md</string>
		</array>
		<array>
			<string>2017-03-22-analyse-of-ucnews.md</string>
		</array>
		<array>
			<string>2017-02-22-analyze-of-unionlotto-redballs.md</string>
		</array>
		<array>
			<string>2017-02-16-neglect-function-of-weixin.md</string>
		</array>
		<array>
			<string>2016-12-23-read-biocentrism.md</string>
		</array>
		<array>
			<string>2017-01-10-get-own-vpn.md</string>
		</array>
		<array>
			<string>2015-07-03-photography-foundation.markdown</string>
		</array>
		<array>
			<string>2016-03-05-rabit-carry-carrot.md</string>
		</array>
		<array>
			<string>2016-03-02-spider-and-antispider.md</string>
		</array>
		<array>
			<string>2016-01-31-mysql-master-slave.md</string>
		</array>
		<array>
			<string>2016-01-30-mysql-partition.md</string>
		</array>
		<array>
			<string>2016-01-30-cmd-java-jps.md</string>
		</array>
		<array>
			<string>2016-01-29-sql-query-optimize.md</string>
		</array>
		<array>
			<string>2016-01-28-mysql-lock.md</string>
		</array>
		<array>
			<string>2016-01-27-scala-problem.md</string>
		</array>
		<array>
			<string>2016-01-25-git-log-cmd.md</string>
		</array>
		<array>
			<string>2016-01-08-common-regex.md</string>
		</array>
		<array>
			<string>2015-12-13-translate-the-next-episode.markdown</string>
		</array>
		<array>
			<string>2015-11-23-punctuation-del-java.markdown</string>
		</array>
		<array>
			<string>2015-11-21-remote-log.md</string>
		</array>
		<array>
			<string>2015-11-16-oom-error-java.markdown</string>
		</array>
		<array>
			<string>2015-11-12-linux-shell.markdown</string>
		</array>
		<array>
			<string>2015-10-22-Graphics-Device-initialization-failed-exception.markdown</string>
		</array>
		<array>
			<string>2015-10-14-no-toolkit-found-error.markdown</string>
		</array>
		<array>
			<string>2015-10-14-cmd-of-linux.markdown</string>
		</array>
		<array>
			<string>2015-10-13-guava-ratelimter.markdown</string>
		</array>
		<array>
			<string>2015-10-12-generic-array-error.markdown</string>
		</array>
		<array>
			<string>2015-10-02-setup-grails-dev-environment.markdown</string>
		</array>
		<array>
			<string>2015-09-27-mid-autumn.markdown</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
			<integer>62</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>f0676f121b5a08ce9c6b11a3e6b30d3b6c0849247899edbb39893c7fa4c0160b</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
